* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    margin: 44px 0px 144px 76px;
}

h1 {

    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;

}

h2 {
    font-weight: 500;
    color: #515151;
    font-size: 50px;
    line-height: 71px;
}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 515px;
    margin-top: 32px;
    margin-bottom: 65px;
}

button {

    width: 239px;
    height: 64px;
    border-radius: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 34.13px;
    background: #ADFF00;
    color: black;
    cursor: pointer;

}

.button-header {
    width: 130px;
    height: 41px;
    border-radius: 20.5px;
    background: #665AE1;
    cursor: pointer;
    color: white;

}

.img-logo {
    width: 569px;
    height: 500px;
    margin-left: 125px;

}

.link-header {

    font-weight: 600;
    line-height: 29.26px;
    text-align: left;
    color: #989d9c;
    cursor: pointer;
    margin-right: 23px;
}

section {
    display: inline-block;
    margin-left: 86px;
}


@media screen and (max-width: 500px)
{

    p {
        display: none;
    }

    header {
        display: none;
    }

    img {
        width: 650px;
        height: 700px;
        margin: 300px 40px 50px 50px;
    }

    h1 {
        font-weight: 900;
        font-size: 100px;
        line-height: 122px;
        color: #515151;
        width: 600px;

        margin: 10px 100px 0px 1px;
    }

    h2 {
        font-weight: 500;
        color: #FF0000;
        font-size: 70px;
        line-height: 71px;
    }

    button {
        width: 500px;
        height: 100px;
        height: 100px;

        font-weight: 700;
        font-size: 50px;
        line-height: 34.13px;
        background: #ADFF00;
        color: black;
        cursor: pointer;
        border-radius: 50px;
    }


}